<ion-view view-title="Novo Agendamento" ng-controller="NovoAgendamentoCtrl">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="salvar(novoAgendamento)">Salvar</button>
  </ion-nav-buttons>

  <ion-content>
    <div class="list padding">
      <form name="novoAgendamentoForm">

        <label class="item item-input item-select">
          <div class="input-label">Paciente</div>
          <select ng-model="novoAgendamento.paciente" ng-options="paciente as paciente.nome for paciente in pacientes track by paciente.id"></select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">Dentista</div>
          <select ng-model="novoAgendamento.dentista" ng-options="dentista as dentista.nome for dentista in dentistas track by dentista.id"></select>
        </label>

        <label ng-if="!novoAgendamento.diaCompleto" class="item item-input" ion-datetime-picker only-valid="diasValidos" minute-step="15" ng-model="novoAgendamento.data">
          <span class="input-label">Data/hora</span>
          <div style="width: 60%; font-size: 14px; text-align: right;">
            {{novoAgendamento.data| date: "dd/MM/yyyy ' as ' HH:mm"}}
          </div>
        </label>

        <label ng-if="novoAgendamento.diaCompleto" class="item item-input" ion-datetime-picker date only-valid="diasValidos" ng-model="novoAgendamento.data">
          <span class="input-label">Data</span>
          <div style="width: 60%; font-size: 14px; text-align: right;">
            {{novoAgendamento.data| date: "dd/MM/yyyy"}}
          </div>
        </label>

        <div class="item item-input" ng-if="!novoAgendamento.diaCompleto">
          <span class="input-label">Duração</span>
          <div style="width: 60%; text-align: right;">
            <button class="button button-small" ng-click="diminuirDuracao()">-</button>
            <div class="button button-small" style="background-color: transparent !important; width: 83px;">
              {{novoAgendamento.duracaoMinutos | minutesOrHours}}
            </div>
            <button class="button button-small" ng-click="aumentarDuracao()">+</button>
          </div>
        </div>

        <ion-toggle ng-model="novoAgendamento.diaCompleto" toggle-class="toggle-balanced">Sem horário fixo</ion-toggle>

        <label class="item item-input">
          <span class="input-label">Procedimento</span>
          <input type="text" ng-model="novoAgendamento.procedimento">
        </label>

      </form>
    </div>

  </ion-content>
</ion-view>
