<ion-view ng-controller="AgendamentosCtrl">

	<ion-content> 
		<div class="button-bar padding">
			<button class="button button-small" ng-disabled="isToday()" ng-click="hoje()">Hoje</button>
			<button class="button button-small" ng-class="{'active': calendar.mode == 'month'}" ng-click="changeMode('month')">Mês</button>
			<button class="button button-small" ng-class="{'active': calendar.mode == 'week'}" ng-click="changeMode('week')">Semana</button>
			<button class="button button-small" ng-class="{'active': calendar.mode == 'day'}" ng-click="changeMode('day')">Dia</button>
		</div>

		<!-- <calendar calendar-mode="calendar.mode" ng-model="calendar.data" event-source="calendar.agendamentos" step="15" rangeChange="reload(startTime, endTime)"/>
	-->

	<calendar calendar-mode="calendar.mode"></calendar>

</ion-content>

</ion-view>
