<ion-view view-title="Configurações">

	<ion-content has-subheader="false">
		
		<ion-list>
			<li class="item item-divider">Cadastros</li>
			<ion-item class="item-icon-left" ui-sref="tab.dentistas"><i class="icon ion-medkit"></i>Dentistas</ion-item>
<!-- 			<ion-item class="item-icon-left" ui-sref="tab.laboratorios"><i class="icon ion-erlenmeyer-flask"></i>Laboratórios</ion-item>
-->			<li class="item item-divider">Conta</li>
			<ion-item class="item-icon-left" ui-sref="tab.conta"><i class="icon ion-person"></i>Detalhes da Conta</ion-item>
			<li class="item item-divider"></li>
			<ion-item class="item-icon-left" ng-click="sair()"><i class="icon ion-log-out"></i>Sair</ion-item>
		</ion-list>

	</ion-content>

</ion-view>