<ion-view view-title="Dentistas" ng-controller="DentistasCtrl">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="novo()">Novo</button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher pulling-text="Atualizando..." on-refresh="refreshData()">
    </ion-refresher>

    <ion-list ng-if="listaCarregada">

      <ion-item ng-if="!dentistas.length">Nenhum dentista cadastrado</ion-item>

      <ion-item ng-repeat="dentista in dentistas" on-hold="dentistaHold({{dentista}})" href="#tab/dentista/{{dentista.id}}">
        <i class="icon ion-person"></i> {{dentista.nome}}
        <span class="item-note">
          {{dentista.paciente.telefone | tel}}
        </span>
      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
