<ion-view view-title="Início" name="inicio-tab">

	<ion-content>

		<ion-refresher pulling-text="Atualizar" on-refresh="refreshData()"></ion-refresher>


		<div class="list">

			<!-- Saudação -->
			<div class="item item-text-wrap animated ">
				<h2>Seja bem vindo, {{username}}</h2>
			</div>

			<!-- Loading Consultas -->
			<div ng-if="!carregouUltimosAgendamentos || !carregouAgendamentos">
				<div class="item" style="text-align: center">
					<ion-spinner></ion-spinner><br /> Carregando agendamentos
				</div>
			</div>

			<!-- Últimos Agendamentos -->
			<div ng-click="toggleUltimasConsultas()" ng-if="!showUltimasConsultas && ultimosAgendamentos.length" class="item item-divider">Ver consultas não registradas</div>
			<div ng-if="carregouUltimosAgendamentos && ultimosAgendamentos.length">
				<div ng-if="showUltimasConsultas" ng-repeat="(dataString, agendamentos) in ultimosAgendamentos | map: toLocaleDate | groupBy: 'dataString'">
					<div ng-click="toggleUltimasConsultas()" class="item item-divider">Consultas sem registro em {{dataString}}</div>
					<div ng-repeat="agendamento in agendamentos" class="item item-text-wrap animated bounceInLeft">
						{{agendamento.data | date : 'HH:mm'}} as {{agendamento.dataFinal | date : 'HH:mm'}} {{agendamento.paciente.nome}} - {{agendamento.procedimento}}
						<h4> Dr. {{agendamento.dentista.nome}}</h4>
						<!--<a><i class="icon ion-android-done balanced"></i></a>-->
					</div>
				</div>
			</div>


			<!-- Próximos Agendamentos -->
			<div ng-click="toggleProximasConsultas()" ng-if="!showProximasConsultas && proximosAgendamentos.length" class="item item-divider">Ver próximas consultas</div>
			<div ng-if="!carregouAgendamentos && proximosAgendamentos.length">
				<div class="item" style="text-align: center">
					<ion-spinner></ion-spinner><br /> Carregando próximos agendamentos
				</div>
			</div>
			<div ng-if="carregouAgendamentos && proximosAgendamentos.length">
				<div ng-if="showProximasConsultas" ng-repeat="(dataString, agendamentos) in proximosAgendamentos | map: toLocaleDate | groupBy: 'dataString'">
					<div ng-click="toggleProximasConsultas()" class="item item-divider card-title">Próximas consultas em {{dataString}}</div>
					<div ng-repeat="agendamento in agendamentos">
						<div class="item item-text-wrap animated bounceInRight">
							<h3>{{agendamento.data | date : 'HH:mm'}} as {{agendamento.dataFinal | date : 'HH:mm'}}</h3>
							<h4>Dr. {{agendamento.dentista.nome}}</h4>
							<h3>{{agendamento.paciente.nome}} - {{agendamento.procedimento}}</h3>
						</div>
					</div>
				</div>

			</div>

			<div ng-if="carregouAgendamentos && !proximosAgendamentos.length">
				<div class="item item-divider animated slideInUp">Próximas consultas</div>
				<div class="item item-text-wrap item-icon-left animated slideInUp">
					<i class="icon ion-sad-outline"></i> Você não possui agendamentos
				</div>
			</div>

		</div>

	</ion-content>
</ion-view>