<ion-view view-title="Pacientes" ng-controller="PacientesCtrl">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="novo()">Novo</button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher pulling-text="Atualizando..." on-refresh="refreshData()">
    </ion-refresher>

    <ion-item ng-if="!pacientes.length && listaCarregada">Nenhum paciente cadastrado</ion-item>

    <ion-item ng-repeat="paciente in pacientes" on-hold="pacienteHold({{paciente}})" href="#tab/pacientes/{{paciente.id}}">
      <i class="icon ion-person"></i> {{paciente.nome}}
      <span class="item-note">
          {{paciente.celular || paciente.telefone | tel}}
        </span>
    </ion-item>

    <!-- <ion-infinite-scroll on-infinite="loadMoreData()" distance="10%" ng-if="hasMoreData()">
    </ion-infinite-scroll> -->

  </ion-content>

</ion-view>
