<ion-view view-title="Pacientes" ng-controller="PacientesCtrl">

  <ion-nav-buttons side="right">
    <button class="button" ng-click="novo()">Novo</button>
  </ion-nav-buttons>

  <ion-content>

    <ion-refresher pulling-text="Atualizar" on-refresh="refreshData()"></ion-refresher>

    <ion-list>

      <ion-item ng-if="!listaCarregadaSemErros && !listaCarregadaComErros" style="text-align: center"> 
        <ion-spinner class="spinner-balanced"></ion-spinner><br />
        Carregando pacientes
      </ion-item>

      <ion-item class="item-icon-left" ng-if="listaCarregadaComErros">
        <i class="icon ion-sad-outline"></i> {{mensagemErro}}
      </ion-item>

      <ion-item class="item-icon-left" ng-if="listaCarregadaSemErros && !pacientes.length">
        <i class="icon ion-information-circled"></i> Nenhum paciente cadastrado
      </ion-item>

      <ion-item class="item-icon-left" ng-repeat="paciente in pacientes" on-hold="pacienteHold({{paciente}})" href="#tab/pacientes/{{paciente.id}}">
        <i class="icon ion-person"></i>
        {{paciente.nome}} 
        <span class="item-note">{{paciente.celular || paciente.telefone | tel}}</span>

      </ion-item>

    </ion-list>

  </ion-content>

</ion-view>
