<ion-view view-title="Easydent" ng-controller="LoginCtrl" hide-nav-bar="true">

  <ion-content scroll="false" class="padding welcome">

    <div class="card padding">
      <!-- <div class="item item-divider center"></div> -->

      <img src="img/logo.jpg"></img>
      <h5>Tenha controle total sobre sua agenda</h5>

      <form name="loginForm" ng-submit="entrar(login)">

        <div class="item">

          <label class="item item-input">
            <input type="text" name="usuario" placeholder="E-mail ou usuário" ng-model="login.usuario">
          </label>

          <label class="item item-input">
            <input type="password" name="senha" placeholder="Senha" ng-model="login.senha" required>
          </label>

          <input type="submit" value="Entrar" class="button button-block button-balanced" ng-click="entrar(login)">
          </input>

          <p class="text-center">
            <a href="#/esqueci-senha">Esqueci a senha</a>
          </p>

        </div>

        <div class="item item-divider">
          <p class="text-center">
            Não possui uma conta? <a href="#/signup">Cadastre-se</a>
          </p>
        </div>

    </div>


    </form>

  </ion-content>
</ion-view>
