<ion-view ng-controller="SignupCtrl" hide-nav-bar="true">

  <ion-content class="signup padding" scroll="false">

    <form name="signupForm" ng-submit="criarUsuario(novoUsuario, novoEstabelecimento)">
      <h2 class="app-name">Easydent</h2>
      <h5>Tenha controle total sobre sua agenda</h5>
      <div class="lista">

        <label class="item item-input item-label">
          <input type="text" ng-model="novoUsuario.nome" placeholder="Seu nome completo">
        </label>

        <label class="item item-input item-label">
          <input type="text" ng-model="novoUsuario.login" ng-change="checkUsername(novoUsuario.login)" ng-model-options='{ debounce: 1500 }' placeholder="Seu nome de usuário">
        </label>

        <label class="item item-input item-label">
          <input type="text" ng-model="novoUsuario.email" ng-change="checkEmail(novoUsuario.email)" ng-model-options='{ debounce: 1500 }' placeholder="Seu e-mail">
        </label>

        <label class="item item-input item-label">
          <input type="password" ng-model="novoUsuario.senha" placeholder="Informe uma senha">
        </label>

        <label class="item item-input item-label">
          <input type="password" ng-model="novoUsuario.confirmacaoSenha" placeholder="Informe a senha novamente">
        </label>

        <div class="button-bar">
          <input type="submit" value="Cadastre-se" class="button button-balanced" />
        </div>

        <button class="button button-block button-light icon-left ion-chevron-left" ui-sref="login">
          Login
        </button>

      </div>
    </form>

    <!--     <div class="bar bar-footer bar-balanced">
      <div style="width: 100%; text-align: center; line-height: 34px;">
        Já possui uma conta?&nbsp<a href="#/login">Entre aqui</a>
      </div>
    </div>
  -->

  </ion-content>
</ion-view>