<ion-view view-title="Agendamento">

  <ion-nav-buttons side="right">
    <!-- <button class="button" ng-click="salvar(agendamento)">Salvar</button> -->
  </ion-nav-buttons>

  <ion-content>

    <!--<div ng-if="editando" style="text-align: center; padding: 5px; font-weight: bold;">
      Editando Agendamento
    </div>-->

    <div class="list padding">

      <form name="novoAgendamentoForm">

        <div ng-if="!editando" class="button-bar" style="margin: 10px 0px;">
          <button ng-if="agendamento.fgSituacaoConsultaEnum === 0" ng class="button button-energized" ng-click="toggleEdicao()">Editar dados da consulta</button>
          <button ng-if="agendamento.fgSituacaoConsultaEnum === 1" ng class="button button-balanced">Paciente Atendido</button>
          <button ng-if="agendamento.fgSituacaoConsultaEnum === 3" ng class="button button-assertive">Paciente Faltou</button>
        </div>

        <div class="button-bar" style="margin: 10px 0px;" ng-disabled="editando">
          <button class="button" ng-if="editando" ng-click="descartarAlteracoes()">Descartar Alterações</button>
        </div>

        <label class="item item-input item-select" ng-disabled="!editando">
          <div class="input-label">Paciente</div>
          <select ng-model="agendamento.paciente" ng-disabled="!editando" ng-options="paciente as paciente.nome for paciente in pacientes track by paciente.id"></select>
        </label>

        <label class="item item-input item-select">
          <div class="input-label">Dentista</div>
          <select ng-model="agendamento.dentista" ng-disabled="!editando" ng-change="carregarHorariosDisponiveis(agendamento)" ng-options="dentista as dentista.nome for dentista in dentistas track by dentista.id"></select>
        </label>

        <label class="item item-input" ion-datetime-picker only-valid="diasValidos" ng-disabled="!editando" ng-model="agendamento.data">
          <span class="input-label">{{agendamento.diaCompleto? 'Data' : 'Data/hora'}}</span>
          <div style="width: 60%; font-size: 14px; text-align: right;">
            {{agendamento.data| date: "dd/MM/yyyy ' as ' HH:mm"}}
          </div>
        </label>

        <div class="item item-input" ng-disabled="!editando" ng-if="!novoAgendamento.diaCompleto">
          <span class="input-label">Duração</span>
          <div style="width: 60%; text-align: right;" ng-disabled="!editando">
            <button class="button" ng-click="diminuirDuracao()" ng-disabled="!editando">-</button>
            <div class="button" style="background-color: transparent !important; width: 83px;" ng-disabled="!editando">
              {{agendamento.duracaoMinutos | minutesOrHours}}
            </div>
            <button class="button" ng-click="aumentarDuracao()" ng-disabled="!editando">+</button>
          </div>
        </div>

        <ion-toggle ng-model="agendamento.diaCompleto" ng-disabled="!editando" toggle-class="toggle-balanced">Sem horário fixo</ion-toggle>

        <label class="item item-input">
          <span class="input-label">Procedimento</span>
          <input type="text" ng-disabled="!editando" ng-model="agendamento.procedimento">
        </label>

      </form>

      <div class="button-bar" style="margin: 10px 0px;" ng-if="!editando">
        <button class="button button-assertive" ng-click="cancelarConsulta(agendamento)" ng-disabled="agendamento.fgSituacaoConsultaEnum !== 0">Cancelar</button>
        <button class="button button-assertive" ng-click="pacienteFaltou(agendamento)" ng-disabled="agendamento.fgSituacaoConsultaEnum !== 0 || !agendamentoPassado">Faltou</button>
        <button class="button button-balanced" ng-click="confirmarComparecimento(agendamento)" ng-disabled="agendamento.fgSituacaoConsultaEnum !== 0 || !agendamentoPassado">Atendido</button>
      </div>

      <div class="button-bar" style="margin: 10px 0px;" ng-disabled="editando">
        <button class="button button-balanced" ng-if="editando" ng-click="concluirEdicao()">Concluir Alterações e Salvar</button>
      </div>

    </div>

  </ion-content>
</ion-view>