<ion-view view-title="Paciente" ng-controller="PacienteDetailCtrl" >

  <ion-nav-buttons side="right">
    <button class="button" ng-click="salvar()" ng-disabled="pacienteForm.$invalid" >Salvar</button>
  </ion-nav-buttons>

  <ion-content scroll="false"> 

    <form name="pacienteForm" class="list list-inset">

      <div ng-if="paciente.codigo">
        <label class="item item-input item-label">
          <span class="input-label">Código</span>
          <input name="codigo" type="text" ng-readonly="true" ng-model="paciente.codigo">
        </label>
      </div>

      <label class="item item-input item-label">
        <span class="input-label">Nome</span>
        <input name="nome" type="text" ng-model="paciente.nome" placeholder="Nome do paciente" required>
      </label>

      <label class="item item-input item-label">
        <span class="input-label">Celular</span>
        <input name="celular" type="tel" ui-mask="(99) 9999-9999?9" ng-model="paciente.celular">
      </label>

      <label class="item item-input item-label">  
        <span class="input-label">Telefone</span>
        <input name="telefone" type="tel" ui-mask="(99) 9999-9999?9" ng-model="paciente.telefone">
      </label>
      <label class="item item-input item-label">
        <span class="input-label">E-mail</span>
        <input name="email" type="email" ng-model="paciente.email" placeholder="Informe o e-mail">
      </label>
      <label class="item item-input item-label">
        <span class="input-label">Dt. Nasc.</span>
        <input name="data-nascimento" type="date" ng-model="paciente.dataNascimento" placeholder="Informe a data de nascimento">
      </label>

    </form>

  </ion-content>

</ion-view>
