/* Empty. Add your own CSS if you like */


/** Styling for the username field **/

label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/

.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

/** templates/welcome.html **/

.welcome.scroll-content {
  background-image: url('../img/welcome-background.jpg');
  text-align: center;
}
.welcome input {
  text-align: center;
  background-blend-mode: color;
}

/* login.html */

h2.app-name {
  padding-top: 30px;
  color: #4cb14c;
  font-weight: bold;
  font-size: 50px;
}

.welcome a, .signup a{
  color: white;
  text-decoration: initial;
  font-weight: bold
}

#forgot-password-button {
  font-weight: bold;
  padding: 0px 25px;
}

/** index.html **/

.scroll-content {
  background-image: url('../img/background.jpg');
  background-position: center;
  background-blend-mode: darken;
}

/** signup **/

.signup.scroll-content h4, img {
  text-align: center;
}

/* Body */

input[disabled] {
  background-color: #FFF;
}
.error-message {
  /*height: 30px;*/
  /*line-height: 30px;*/
  /*box-sizing: content-box;*/
  padding: 5px;
  margin: 10px 0px;
  border-radius: 4px;
  color: white;
  /*border: 2px solid #a02300;*/
  background-color: #ef473a;
  color: white;
}

/* agendamentos.html */

.monthview-datetable, .weekview-datetable, .calendar-cell, .weekview-header, .calendar-hour-column, .dayview-allday-label {
  background-color: white !important;
}
.event-detail-container {
  margin-top: 310px !important;
}
.calendar-bar {
  /* background-color:#33cd5f; */
  text-align: center;
}
.calendar-bar button {
  font-weight: bold;
/*  width: 40px !important;
min-width: 0px !important;*/
}

